<section>
  <div class="container delivery-container">
    <h2 class="delivery-title">Доставка</h2>
    <hr />
    <div class="delivery-box">
      <div class="delivery-item">
        <h3 class="delivery-subtitle">Швидка доставка</h3>
        <p class="delivery-text">
          Зберемо та доставимо замовлення через годину.
        </p>

        <p class="delivery-text">
          Можливість оплати як банківською карткою так і готівкою при отриманні.
        </p>
      </div>
      <div class="delivery-item">
        <h3 class="delivery-subtitle">Безкоштовна доставка від 2000 грн</h3>
        <p class="delivery-text">
          Вартість доставки квітів по м.Київ - 200 грн.
        </p>
        <p class="delivery-text">Військовим - знижка 30%.</p>
      </div>
    </div>
  </div>
</section>
