<section>
  <div class="container gallery-container">
    <h2 class="gallery-title">Галерея</h2>
    <hr />
    <select class="js-select gallery-select"></select>
    <svg class="icon-x" width="40" height="40">
      <use href="./images/sprite.svg#icon-krestik-modalka"></use>
    </svg>
    <div class="swiper">
      <ul class="js-gallery swiper-wrapper"></ul>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
      <div class="swiper-scrollbar"></div>
    </div>
    <p class="gallery-text">
      Зверніть увагу, що ціна може змінюватись в залежності від обраних Вами
      кольорів квітів!
    </p>
  </div>
</section>
