<section>
  <div class="container reviews-container">
    <h2 class="reviews-title">Відгуки</h2>
    <hr />
    <ul class="reviews-list">
      <li class="reviews-item">
        <img src="" alt="" />
        <p>
          “Робила замовлення на день народження сестри. Букет просто супер.
          Дякуємо!”
        </p>
        <p>Стефанія</p>
      </li>
      <li class="reviews-item">
        <img src="" alt="" />
        <p>“Щиро дякую! Букет був шикарним!”</p>
        <p>Олена</p>
      </li>
      <li class="reviews-item">
        <img src="" alt="" />
        <p>“Дуже вдячний за красивий і свіжий букеті!”</p>
        <p>Андрій</p>
      </li>
      <li class="reviews-item">
        <img src="" alt="" />
        <p>“Дякую за чудові квіти та індивідуальний підхід”</p>
        <p>Микола</p>
      </li>
    </ul>
  </div>
</section>
